.container {
  text-align: center;
  margin: auto;
  width: 100%;
  min-width: 900px;
  height: 600px;
}

.row {
  display: inline-block;
  width: 70%;
  min-width: 900px;
  height: 10%;
  margin: 1%;
}

.seat {
  border: 1px solid black;
  background: grey;
  padding: 5px;
  float: left;
  height: 100%;
  width: 10%;
  margin: 2.5%;
}
